---

modules:
  components:
    import_path: dashmat.core_modules.components.main:Components

dashboards:
  /number:
    description: A number!
    imports:
      - [[Number], 'components']
    layout:
      <Number title="test" data={this.datasource("/data/components/number")} />
