recursive-include dashmat/server/templates *.html
recursive-include dashmat/server/static/js-build *.js
recursive-include dashmat/server/static/react *.css
recursive-include dashmat/core_modules/*/static/react *.css *.jsx *.js
recursive-include dashmat/core_modules/*/static *.css *.js
recursive-include dashmat/core_modules/splunk/* PKG-INFO
recursive-include dashmat/core_modules/splunk/* *.py
