recursive-include python_dashing/server/templates *.html
recursive-include python_dashing/server/static/js-build *.js
recursive-include python_dashing/server/static/react *.css
recursive-include python_dashing/core_modules/*/static/react *.css *.jsx *.js
