---

modules:
  components:
    import_path: python_dashing.core_modules.components.main:Components

dashboards:
  /:
    is_index: true

  /number:
    description: A number!
    imports:
      - [[Number], 'components']
    layout:
      <Number title="test" data={24} datasource="/data/components/number" every={1000} />
