dashboards:
  test:
    - type: Number
      title: YAML test
      datasource: test.value
    - type: aaa
    - type: aaa
    - type: Number
      title: another thing

modules:
  test:
    import_path: python_dashing.core_modules.examples.rand:Module
