.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
}

.widget {
  flex-grow: 1;
  background-color: #e67e22;
  margin: 5px;
  -webkit-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
}

.text_widget {
  flex-grow: 1;
  background-color: #00FFA1;
  max-width: 600px;
  margin: 5px;
  padding: 1px;
  -webkit-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.text_widget p {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.5em;
}

.widget h3 {
  margin-top: 0px;
}

body:global {
  background-color: #797979;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

