.board {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;

  margin: 0;
  padding: 0;
}

.module {
  background-color: #e67e22;
  width: 300px;
  height: 360px;
  margin: 5px;
  padding: 0;
}

body:global {
  background-color: #222222;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}