.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0;
  padding: 0;
}

.module {
  flex-grow: 2;
  background-color: #e67e22;
  min-width: 300px;
  max-width: 600px;
  min-height: 360px;
  margin: 5px;
  padding: 0;

}

body:global {
  background-color: #222222;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

